name: CI

on:
  pull_request:
    paths:
      - Sources/**
      - Tests/**
      - .github/workflows/ci.yml
  push:
    branches: master
    paths: .github/workflows/ci.yml
  schedule:
    - cron: '3 3 * * 4'  # 3:03 AM, every Thursday

concurrency:
  group: ${{ github.head_ref || 'scheduled' }}
  cancel-in-progress: true

jobs:
  macOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: mxcl/xcodebuild@v3
      with:
        code-coverage: true
    - uses: codecov/codecov-action@v1

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        x:
        - swift: 4.2
          action: build
        - swift: latest
          action: test
    container:
      image: swift:${{ matrix.x.swift }}
    steps:
    - uses: actions/checkout@v2
    - run: swift ${{ matrix.x.action }}
